.content{
    background-color: rgb(255, 255, 255);
    /*box-shadow: 0 0 5px -2px black;*/
    min-height: 95%;
    position: relative;
    padding:40px;
    box-sizing: border-box;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    color: #6d6d6d;
}

img{
    max-width: 100%;
    max-height: 20em;
}

img.active{
    filter: blur(2px) brightness(120%);
    overflow: hidden;
}


.title{
    margin-bottom: 20px;
}
.title>input{
    width: 100%;
    border: 0;
    font-size: 30px;
    color: #000000;
    outline:none;
    border-bottom: 2px solid #555555;
}

@media screen and (min-width: 768px){
    .background{
        position: fixed;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        padding-top: 75px;
        background-color: rgba(243,243,243,1);
        overflow: auto;
        overflow: overlay;
    }
    .content{
        /*box-shadow: 0 0 5px -2px black;*/
        width: 70%;
        margin: 10px 15vw;
    }
    .menu{
        position: fixed;
        top: 50%;
        margin-top: -200px;
        margin-left: -130px;
        background: #fff;
        padding: 20px 5px;
    }

    .button{
        display: block;
        height: 40px;
        width: 40px;
        text-align: center;
        transition: 0.2s linear;
    }

    .button:hover{
        background: #6d6d6d;
        cursor: pointer;
        transition: 0.2s linear;
    }

    .button:hover>span{
        color: #ffffff;
        transition: 0.2s linear;
    }

    .menu-right{
        position: fixed;
        top: 50%;
        margin-top: -40px;
        margin-left: 40px;
        background: #fff;
        padding: 20px 5px;
        left: 85%;
    }

}

@media screen and (max-width: 768px){
    .background{
        position: fixed;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        padding-top: 50px;
        background-color: rgba(243,243,243,1);
        overflow: auto;
        overflow: overlay;
    }
    .content{
        /*box-shadow: 0 0 5px -2px black;*/
        margin: 0;
        padding-left: 50px;
    }
    .menu{
        position: fixed;
        top: 80px;
        left: 0;
        background: #fff;
    }

    .button{
        display: block;
        height: 40px;
        width: 40px;
        text-align: center;
        transition: 0.2s linear;
    }

    .button:hover{
        background: #6d6d6d;
        cursor: pointer;
        transition: 0.2s linear;
    }

    .button:hover>span{
        color: #ffffff;
        transition: 0.2s linear;
    }

    .menu-right{
        position: fixed;
        bottom: 0;
        left: 0;
        background: #fff;
    }


}
